<div [formGroup]="form">
  <div>
    <label for="password">Password</label>
    <input MatInput formControlName="password" placeholder="Password" type="password" id="password"
      class="example-full-width" />
    <div *ngIf="
        confirmPasswordControl.touched &&
        confirmPasswordControl.hasError('required')
      " class="mat-error">
      Password is required.
    </div>
  </div>

  <label for="confirm-password">Confirm Password</label>
  <input formControlName="confirmPassword" type="password" id="confirm-password" class="example-full-width" />

  <div *ngIf="
      passwordControl.touched &&
      confirmPasswordControl.touched &&
      form.hasError('missmatch')
    " class="mat-error">
    Passwords do not match.
  </div>
  <div id="login-errors">
    <label [ngClass]="
        form.controls['password'].hasError('required') ||
        form.controls['password'].hasError('minlength')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.controls["password"].hasError("minlength")
        ? "cancel"
        : "check_circle"
        }}</i>
      Must be at least 8 characters.
    </label>
    <label [ngClass]="
        form.controls['password'].hasError('required') ||
        form.controls['password'].hasError('hasNumber')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.controls["password"].hasError("hasNumber")
        ? "cancel"
        : "check_circle"
        }}</i>
      Must contain at least 1 number.
    </label>

    <label [ngClass]="
        form.controls['password'].hasError('required') ||
        form.controls['password'].hasError('hasCapitalCase')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.controls["password"].hasError("hasCapitalCase")
        ? "cancel"
        : "check_circle"
        }}</i>
      Must contain at least 1 capital letter.
    </label>

    <label [ngClass]="
        form.controls['password'].hasError('required') ||
        form.controls['password'].hasError('hasSmallCase')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.controls["password"].hasError("hasSmallCase")
        ? "cancel"
        : "check_circle"
        }}</i>
      Must contain at least 1 lowercase letter.
    </label>
    <label [ngClass]="
        form.controls['password'].hasError('required') ||
        form.controls['password'].hasError('hasSpecialCharacters')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.controls["password"].hasError("hasSpecialCharacters")
        ? "cancel"
        : "check_circle"
        }}</i>
      Must contain at least 1 special character.
    </label>
    <label [ngClass]=" form.controls['password'].hasError('required') ||    
        form.hasError('missmatch')
          ? 'is_invalid'
          : 'valid'
      ">
      <i class="material-icons">{{
        form.controls["password"].hasError("required") ||
        form.hasError("missmatch")
        ? "cancel"
        : "check_circle"
        }}</i>
      Passwords must match.
    </label>

  </div>
</div>