<mat-card>
  <h2>Project invitations</h2>
  <div *ngIf="invitations && invitations.length; else noproject">
    <h2>You've been invited to the following projects</h2>
    <p>
      If you have any problems or questions about your project, please contact
      support@mysurvey.santafe.edu
    </p>
    <mat-card *ngFor="let i of invitations" style="border: 4px double orange; margin-bottom: 14px">
      <mat-card-header>
        <mat-card-title>Project title: {{ i.project.project_title }}</mat-card-title>
        <mat-card-subtitle>Project description: {{ i.project.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            Project end: <b>{{ i.project.defaultend | date: "short" }}</b>
          </li>
          <li>
            Max Payout: <b>{{ i.project.max_payout | currency: "USD" }}</b>
          </li>
          <li>
            Responsible person: <b>{{ i.project.responsible_person }}</b>
          </li>
        </ul>
        <div *ngIf="i.started">
          <div *ngIf="i.verifying" style="color: green; padding: 2px; font-size: 22px">
            You have returned from a survey! We're verifying your project id
          </div>
          <div *ngIf="i.finished" style="color: green; padding: 2px; font-size: 22px">
            ⭐ This project is finished! ⭐
          </div>

          <h3 *ngIf="i.started && !i.finished">Project started!</h3>
          <ul>
            <li>
              Expected payout {{ i.project.exp_payout | currency: "USD" }}
            </li>
            <li *ngIf="!i.finished">
              link:
              <a target="_BLANK" href="{{ i.project.link }}">{{
                i.project.link
                }}</a>
            </li>
            <li>Finished: {{ i.finished }}</li>
            <li>
              Payment status:
              <b>{{ i.payment_confirmed ? 'Paid on ' + i.payment_confirmed : " Incomplete" }} </b>
            </li>
          </ul>
        </div>
        <div *ngIf="startingProject">
          <h1>Your project is starting! You will be redirected in a moment</h1>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="!i.started" style="text-align: center">
        <h3>Click below to start the project!</h3>
        <button (click)="startProject(i)" color="primary" mat-stroked-button>
          Start Project
        </button>
        <br />
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #noproject>
    <h3>No current invitations</h3>
  </ng-template>
</mat-card>