<mat-card>
  <!-- {{project | json}} -->
  <mat-card-title>Project Management</mat-card-title>
  <h3>Project Title: {{ project ? project.project_title : null }}</h3>
  <mat-tab-group
    dynamicHeight
    (selectedIndexChange)="selectedIndexChange($event)"
  >
    <mat-tab label="Select participants">
      <mat-card>
        <mat-card-title>Select participants</mat-card-title>
        <div class="projectinfo" *ngIf="project">
          <!-- TODO ?checkscomponent? -->

          <ul>
            <li>Project State: {{ project.state }}</li>
            <li>Quota: {{ project.quota | currency }}</li>
            <li>
              Scheduled to begin: (defaultstart):
              {{ project.defaultstart | date: "short" }}
            </li>
            <li>
              Project start state:
              {{ project.start_state === "Open" ? "Open" : "Closed" }}
            </li>
            <li *ngIf="project.link_method === 'Direct'; else fixed">
              The project link method is <b>Direct</b> <br />&nbsp;&nbsp;You
              wish to have a sample size of
              <b>{{ project.desired_sample_size }}</b> participants, with a
              maximum of
              <b> {{ project.desired_num_invitations }}</b> invitations
              <br />
            </li>
            <ng-template #fixed> The payout type is <b>Fixed</b> </ng-template>
            <li
              *ngIf="!project.quota || parseInt(project.quota) <= 0; else quota"
            >
              <span class="error">
                You have no quota with which to pay participants, only the
                administrator can change the quota.
              </span>
            </li>
            <ng-template #quota>
              Your quota for the project is {{ project.quota }}
            </ng-template>
            <li *ngIf="project.link_method === 'Direct'">
              The link method is <strong>Direct</strong>. There are no automatic
              payments. You wish to have a sample size of
              {{ project.desired_sample_size }} participants, with a maximum of
              {{ project.desired_num_invitations }} invitations.
            </li>
            <li *ngIf="project.payout_type === 'Fixed'">
              Payout type is <b>Fixed</b>
            </li>

            <li
              *ngIf="
                project.payout_type !== 'Fixed' &&
                project.payout_type !== 'Variable'
              "
            >
              <td>Payout type is 'Variable'.</td>
            </li>

            <li *ngIf="project.exp_payout > project.max_payout">
              <span class="error"
                >The expected payout ({{ project.exp_payout }}) is larger than
                the maximum payout {{ project.max_payout }}
              </span>
            </li>

            <li>Number of selected participants: {{ totalParticipants }}</li>
            <li>Desired sample size: {{ project.desired_sample_size }}</li>

            <li
              *ngIf="
                totalParticipants > parseInt(project.desired_sample_size);
                else moreParticipants
              "
            >
              <mat-icon>check</mat-icon> You have at least the desired number of
              participants
            </li>
            <div *ngIf="project.state === 'Design'">
              <h2 class="primary success">
                This project is in the design stage, you may select participants
              </h2>
            </div>
          </ul>

          <ng-template #moreParticipants style="text-align: center">
            <h2 class="error">
              You need more participants to satisfy your target sample size
            </h2>
          </ng-template>

          <div
            style="background: white"
            class="primary success"
            *ngIf="totalParticipants > parseInt(project.desired_sample_size)"
          >
            You can change the project state from 'Design' to 'Started' to start
            the project<br />

            <div *ngIf="project.state == 'Started'" class="alert-success">
              <h2>
                The project is started. You may send invitations to project
                participants
              </h2>
            </div>
            <button
              *ngIf="project.state !== 'Started'"
              mat-stroked-button
              color="primary"
              (click)="changeProjectState('Started')"
            >
              Start Project
            </button>
            <button
              *ngIf="project.state !== 'Design'"
              mat-stroked-button
              color="primary"
              (click)="changeProjectState('Design')"
            >
              Pause Project
            </button>
          </div>
        </div>
        <app-selection-table> </app-selection-table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Manage participants" (click)="onTabClick($event)">
      <mat-card>
        <mat-card-title>Manage participants</mat-card-title>
        <app-manage-participants></app-manage-participants>
      </mat-card>
    </mat-tab>

    <mat-tab label="Edit Project">
      Edit Project
      <!-- {{editForm.value | json}} -->
      <form
        [formGroup]="editForm"
        (ngSubmit)="onSubmit()"
        style="display: grid"
      >
        <div [hidden]="true">
          <input
            type="text"
            formControlName="id"
            placeholder="id"
            name="id"
            class="form-control"
            id="id"
          />
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Planned project start</mat-label>
          <input
            formControlName="defaultstart"
            matInput
            [matDatepicker]="picker2"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>End of project</mat-label>
          <input
            formControlName="defaultend"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Link to external study</mat-label>
          <input
            matInput
            type="text"
            formControlName="link"
            placeholder="link"
            name="link"
            class="form-control"
            id=""
          />
        </mat-form-field>
        <span style="width: 100%; margin-left: 5px">
          Test Link:
          <code>
            <a href="{{ editForm.value.link }}">{{
              editForm.value.link
            }}</a></code
          >
        </span>

        <mat-form-field appearance="outline">
          <mat-label>Link method</mat-label>
          <mat-select
            placeholder="Link method"
            formControlName="link_method"
            name="link_method"
          >
            <mat-option value="Direct">
              Login Required L.R. - simple link
            </mat-option>
            <mat-option value="Login">
              L.R. Link with named paramters
            </mat-option>
            <mat-option value="LoginInfo">
              L.R. Link with Unipark-style paramters
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Responsible Person</mat-label>
          <input
            matInput
            type="text"
            formControlName="responsible_person"
            placeholder="responsible_person"
            name="responsible_person"
            class="form-control"
            id="responsible_person"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Desired sample size</mat-label>
          <input
            matInput
            type="number"
            formControlName="desired_sample_size"
            placeholder="desired_sample_size"
            name="desired_sample_size"
            class="form-control"
            id="desired_sample_size"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Desired number of Invitations</mat-label>
          <input
            matInput
            type="number"
            formControlName="desired_num_invitations"
            placeholder="desired_num_invitations"
            name="desired_num_invitations"
            class="form-control"
            id="desired_num_invitations"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Payout size</mat-label>

          <mat-select
            placeholder="Payout type"
            formControlName="payout_type"
            name="payout_type"
          >
            <mat-option value="Fixed"> Fixed </mat-option>
            <mat-option value="Variable"> Variable </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Max payout</mat-label>
          <input
            matInput
            type="number"
            formControlName="max_payout"
            placeholder="max_payout"
            name="max_payout"
            class="form-control"
            id="max_payout"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Expected payout</mat-label>
          <input
            matInput
            type="number"
            formControlName="exp_payout"
            placeholder="exp_payout"
            name="exp_payout"
            class="form-control"
            id="exp_payout"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Project title:</mat-label>
          <input
            matInput
            type="text"
            formControlName="project_title"
            placeholder="project_title"
            name="project_title"
            class="form-control"
            id="project_title"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Description:</mat-label>
          <input
            matInput
            type="text"
            formControlName="description"
            placeholder="Description"
            name="description"
            class="form-control"
            id="description"
          />
        </mat-form-field>
        <button
          [disabled]="editForm.value.errors"
          mat-stroked-button
          color="primary"
        >
          Update
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Import / Export">
      <app-data [project_id]="project_id"></app-data>
    </mat-tab>
    <mat-tab disabled label="Edit custom notification">
      <mat-card>
        <!-- *60% done (allow researchers to type custom notification and send to selected users) -->
        <!-- <app-email-templates></app-email-templates> -->
      </mat-card>
    </mat-tab>
  </mat-tab-group></mat-card
>
