<mat-card>
  <mat-card-title>Project Management</mat-card-title>
  <h3>Project Title: {{ project ? project.project_title : null }}</h3>
  <mat-tab-group dynamicHeight (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab label="Edit Project">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="display: grid">
        <div [hidden]="true">
          <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" />
        </div>
        <mat-form-field appearance="outline">
          <mat-label> Project title:</mat-label>
          <input required matInput type="text" formControlName="project_title" placeholder="project_title"
            name="project_title" class="form-control" id="project_title" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Planned project start</mat-label>
          <input formControlName="defaultstart" matInput [matDatepicker]="picker2" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>End of project</mat-label>
          <input formControlName="defaultend" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Link to external study</mat-label>
          <input matInput required type="text" formControlName="link" placeholder="link" name="link"
            class="form-control" id="" />
        </mat-form-field>
        <span style="width: 100%; margin-left: 5px">
          Test Link:
          <code>
            *Use HTTP or HTTPS when creating your link
            <a TARGET="_BLANK" href="{{ editForm.value.link }}">{{
              editForm.value.link
            }}</a></code>
        </span>
        <mat-form-field appearance="outline">
          <mat-label>Responsible Person</mat-label>
          <input required matInput type="text" formControlName="responsible_person" placeholder="Responsible Person"
            name="responsible_person" class="form-control" id="responsible_person" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Desired sample size</mat-label>
          <input required matInput type="number" formControlName="desired_sample_size" placeholder="Desired sample size"
            name="desired_sample_size" class="form-control" id="desired_sample_size" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Desired number of Invitations</mat-label>
          <input required matInput type="number" formControlName="desired_num_invitations"
            placeholder="Desired number of invitations" name="desired_num_invitations" class="form-control"
            id="desired_num_invitations" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Payout size</mat-label>
          <mat-select placeholder="Payout type" formControlName="payout_type" name="payout_type">
            <mat-option value="Fixed"> Fixed </mat-option>
            <mat-option value="Variable"> Variable </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Max payout</mat-label>
          <input matInput type="number" formControlName="max_payout" placeholder="Max Payout" name="max_payout"
            class="form-control" id="max_payout" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Expected payout</mat-label>
          <input matInput type="number" formControlName="exp_payout" placeholder="Expected Payout" name="exp_payout"
            class="form-control" id="exp_payout" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Description:</mat-label>
          <input matInput type="text" formControlName="description" placeholder="Description" name="description"
            class="form-control" id="description" />
        </mat-form-field>
        <div *ngIf="editForm.invalid" class="alert alert-danger">
          Please fill out the required fields
        </div>
        <button [disabled]="editForm.invalid" mat-stroked-button color="primary">
          Update
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Select participants">
      <mat-card>
        <app-project-status [participants]="participants" [totalParticipants]="totalParticipants" [project]="project">
        </app-project-status>
        <app-selection-table> </app-selection-table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Manage selected participants">
      <mat-card>
        <mat-card-title>Project participants</mat-card-title>
        <app-manage-participants [project]="project"></app-manage-participants>
      </mat-card>
    </mat-tab>
    <mat-tab label="Manage Project State / Data">
      <div style="padding: 12px" *ngIf="project">
        <h3>Change Project State</h3>
        <b>Current State: {{ project.state }}</b><br />
        <b>Current Start State: {{ project.start_state }}</b><br />
        <p>
          Change the project state here.<br>
          If the project 'start_state' is closed, you cannot send new invitations.<br>
          Change the project state to 'halt' to conclude it.
        </p>
        <form [formGroup]="haltProjectForm" style="display: grid" (ngSubmit)="changeProjectState()">
          <div [hidden]="true">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" />
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Project State</mat-label>
            <mat-select placeholder="Project State" formControlName="state" name="state">
              <mat-option value="Design"> Design </mat-option>
              <mat-option value="Started"> Started </mat-option>
              <mat-option value="Halted"> Halted </mat-option>
            </mat-select>
          </mat-form-field><br />
          <mat-form-field appearance="outline">
            <mat-label>Project Start State</mat-label>
            <mat-select placeholder="Project Start State" formControlName="start_state" name="start_state">
              <mat-option value="Open"> Open </mat-option>
              <mat-option value="Closed"> Closed </mat-option>
            </mat-select>
          </mat-form-field><br />
          <button type="submit" [disabled]="haltProjectForm.invalid" mat-stroked-button color="primary">
            Update
          </button>
        </form>
      </div>
      <app-data [project]="project" [project_id]="project_id"></app-data>
    </mat-tab>
  </mat-tab-group>
</mat-card>