<mat-card *ngIf="project">
    {{project | json}}
    <mat-card-title>Project Status</mat-card-title>
    <h2>Title: {{project.project_title}}</h2>
    <b>Quota: <code>{{project.quota | currency}}</code></b>
    <div>
        The project is <b>{{project.state ==='Open' ? 'Open' : 'Closed'}}</b> for participants
    </div>
    <div *ngIf="project.link_method ==='Direct'; else fixed">
        The project link method is <b>Direct</b>
        <br>
        You wish to have a sample size of <b>{{project.desired_sample_size}}</b> participants,
        with a maximum of <b> {{project.desired_num_invitations}}</b> invitations
        <br>

    </div>
    <ng-template #fixed>
        The payout type is <b>Fixed</b>
    </ng-template>

    <div *ngIf=" !project.quota || parseInt(project.quota) <= 0;else quota">
        <span class="error"> You have no quota with which to pay participants, only the administrator can change the
            quota. </span>
    </div>
    <ng-template #quota>
        Your quota for the project is {{project.quota}}
    </ng-template>
    <div *ngIf="project.link_method ==='Direct'">
        The link method is <strong>Direct</strong>. There are no automatic payments.
        You wish to have a sample size of {{project.desired_sample_size}} participants,
        with a maximum of {{project.desired_num_invitations}} invitations.
    </div>
    <ng-template *ngIf="project.payout_type ==='Fixed'">Payout type is <b>Fixed</b></ng-template>
    <ng-template *ngIf="project.payout_type !== 'Fixed' && project.payout_type !=='Variable'">Payout type is
        'Variable'. <br> </ng-template>


    <div *ngIf="project.exp_payout > project.max_payout">
        <span class="error">The expected payout ({{project.exp_payout}}) is larger than the maximum payout
            {{project.max_payout}} </span>
    </div>
    <h2 class="error">Warn if selected participants fewer than the desired sample size</h2>
    <div>
        Status on reminders and participants completed survey etc. ..
    </div>

    <mat-tab-group dynamicHeight>
        <mat-tab label="Edit Project">
            <mat-card>
                <mat-card-title>Edit Project 💼</mat-card-title>
                <!-- {{editForm.value | json}} -->
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="display:grid;">
                    <div [hidden]="true">
                        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>End of project</mat-label>
                        <input formControlName="defaultend" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Link to external study</mat-label>
                        <input matInput type="text" formControlName="link" placeholder="link" name="link"
                            class="form-control" id="">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Link method</mat-label>
                        <mat-select placeholder="Link method" formControlName="link_method" name="link_method">
                            <mat-option value="Direct">
                                Login Required L.R. - simple link
                            </mat-option>
                            <mat-option value="Login">
                                L.R. Link with named paramters
                            </mat-option>
                            <mat-option value="LoginInfo">
                                L.R. Link with Unipark-style paramters
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>responsible_person</mat-label>
                        <input matInput type="text" formControlName="responsible_person"
                            placeholder="responsible_person" name="responsible_person" class="form-control"
                            id="responsible_person">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Desired sample size</mat-label>
                        <input matInput type="number" formControlName="desired_sample_size"
                            placeholder="desired_sample_size" name="desired_sample_size" class="form-control"
                            id="desired_sample_size">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Desired number of Invitations</mat-label>
                        <input matInput type="number" formControlName="desired_num_invitations"
                            placeholder="desired_num_invitations" name="desired_num_invitations" class="form-control"
                            id="desired_num_invitations">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Payout type" formControlName="payout_type" name="payout_type">
                            <mat-label>Payout size</mat-label>
                            <mat-option value="Fixed">
                                Fixed
                            </mat-option>
                            <mat-option value="Variable">
                                Variable
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> Project title:</mat-label>
                        <input matInput type="text" formControlName="project_title" placeholder="project_title"
                            name="project_title" class="form-control" id="project_title">
                    </mat-form-field>
                    <button [disabled]="editForm.value.errors" mat-stroked-button color="primary">Update</button>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab label="Project Settings">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Edit Email Templates
                        </mat-panel-title>
                        <mat-panel-description>
                            Add and configure templates
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Edit email content</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Import/Export Participant Data
                        </mat-panel-title>
                        <mat-panel-description>
                            <!-- //csv -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>CSV import/export form</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Test project links
                        </mat-panel-title>
                        <mat-panel-description>
                            <mat-icon>search</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Edit email templates">
            <mat-card>
                <app-email-templates></app-email-templates>
            </mat-card>
        </mat-tab>
        <mat-tab label="Select participants">


            <mat-card>
                <mat-card-title>Select participants</mat-card-title>
                <app-selection-table>
                </app-selection-table>
            </mat-card>
        </mat-tab>

    </mat-tab-group>