<mat-card *ngIf="user && user.survey_complete == true" style="text-align:center;padding:80px;">
  <mat-card-title>
    Thanks for completing the survey! <br><br>
    You're all set on this page
  </mat-card-title>
  <mat-icon style="font-size:44px;">thumb_up</mat-icon>
</mat-card>

<div *ngIf="!submitted" class="surveyActual">

  <div class="centerheader">
    <h1>Welcome!</h1>

  </div>
  <div class="info">
    <p>
      We need to get your opinion on a few things to make sure you're a good fit
      for the study. First, please read the consent form below.
    </p>
    <div class="consentContent">
      <div
        *ngIf="!this.user || passed_query_param_role =='seed' || this.user && this.user.subrole !=='friend'; else showSeed">
        <h2>Consent form</h2>
        <p>
          <b> Purpose of the study:</b> This study investigates parents’ beliefs about different issues, including
          vaccination and GM food. <b>This study is for groups of friends.</b> To qualify for the study, <b>you and two
            of your friends</b> will need to sign up on this website. The friends will have to be from different
          households and live in the U.S.
        </p>
        <p>
          A week or two after you and your two friends have signed up, you will be invited to participate in three study
          waves, and your friends in one study wave. Study waves will be a few weeks apart and take no more than 10
          minutes each. You will be asked questions such as “Is growing GM crops harmful or beneficial to the
          environment?”, “Are childhood vaccines natural or unnatural?”, and “Do you have children under 18 years of age
          at home?”.
        </p>
        <p>
          <b>Payment:</b> After completing the first study wave, you will receive $10 for each friend that has signed
          up, and $5 for completing the study (for a total of $25). For each next study wave you participate in, you
          will receive an additional $5 (for up to additional $10). Each of your friends will get $10 for signing up and
          $5 for completing the first wave.
        </p>
        <p>
          Importantly, if none of your friends sign up, we won’t able to invite you to the study or compensate you. If
          only one of your friends signs up, we again won’t be able to invite you to the study or compensate you, but we
          will still compensate your friend for signing up.
        </p>
        <p> <b>Benefits and Risks:</b> This project will generate useful and interesting findings on how people make up
          their minds and influence each other.There are no known risks in this research, but some individuals may
          experience discomfort or perceive loss of privacy when answering questions.
        </p>

        <p>
          <b>Your privacy:</b> MySurveys collects your data so we can select and contact participants for studies and
          analyze the anonymized results. There are no names or identifying information associated with your responses.
          Data will be kept securely and not shared with anyone else. Your personal information will only be used for
          compensation and will not be connected to your answers. This website also uses cookies to ensure you get the
          best experience. You can find out more about our privacy policy by clicking <a target="_BLANK"
            href="/privacy">here</a>. By continuing to use this website, you acknowledge that you understand and agree
          to our full privacy terms.
        </p>
        <p>
          <b>Right to withdraw from the study:</b> Your participation in this study is completely voluntary. You have
          the right to choose not to participate or to withdraw your participation at any point in this study without
          penalty.
        </p>
        <p><b>Contact information:</b> This study is conducted by Mirta Galesic and Henrik Olsson from the Santa Fe
          Institute, funded by the NSF. If you have any questions, concerns, or complaints about the research, please
          feel free to call the researchers at (505) 946-2703 or email at support@mysurveys.santafe.edu. If you have
          questions
          regarding your rights as a research participant, or about what you should do in case of any harm to you, or if
          you want to obtain information or offer input, please contact the UNM Office of the IRB (OIRB) at (505)
          277-2644 or irb@unm.edu.
        </p>
      </div>
      <ng-template #showSeed>
        <h2>Consent form</h2>
        <p>
          <b> Purpose of the study:</b> This study investigates parents’ beliefs about different issues, including
          vaccination and GM food. <b>This study is for groups of friends.</b> To qualify for the study, <b>you and two
            of your friends</b> will need to sign up on this website. The friends will have to be from different
          households and live in the U.S.
        </p>
        <p>
          A week or two after you have signed up, you may be invited to participate in a study taking no more than 10
          minutes. You will be asked questions such as “Is growing GM crops harmful or beneficial to the environment?”,
          “Are childhood vaccines natural or unnatural?”, and “Do you have children under 18 years of age at home?”.
        </p>
        <p>
          <b>Payment:</b> You will receive $10 for signing up and an additional $5 if you complete the study that we
          might invite you to in a week or so.
        </p>
        <p> <b>Benefits and Risks:</b> This project will generate useful and interesting findings on how people make up
          their minds and influence each other.There are no known risks in this research, but some individuals may
          experience discomfort or perceive loss of privacy when answering questions.
        </p>
        <p>
          <b>Your privacy:</b> MySurveys collects your data so we can select and contact participants for studies and
          analyze the anonymized results. There are no names or identifying information associated with your responses.
          Data will be kept securely and not shared with anyone else. Your personal information will only be used for
          compensation and will not be connected to your answers. This website also uses cookies to ensure you get the
          best experience. You can find out more about our privacy policy by clicking <a target="_BLANK"
            href="/privacy">here</a>. By continuing to use this website, you acknowledge that you understand and agree
          to our full privacy terms.
        </p>
        <p>
          <b>Right to withdraw from the study:</b> Your participation in this study is completely voluntary. You have
          the right to choose not to participate or to withdraw your participation at any point in this study without
          penalty.
        </p>
        <p><b>Contact information:</b> This study is conducted by Mirta Galesic and Henrik Olsson from the Santa Fe
          Institute, funded by the NSF. If you have any questions, concerns, or complaints about the research, please
          feel free to call the researchers at (505) 946-2703 or email at support@mysurveys.santafe.edu. If you have
          questions
          regarding your rights as a research participant, or about what you should do in case of any harm to you, or if
          you want to obtain information or offer input, please contact the UNM Office of the IRB (OIRB) at (505)
          277-2644 or irb@unm.edu.
        </p>
      </ng-template>
      <mat-checkbox [(ngModel)]="accepted_short_consent">I consent</mat-checkbox>
    </div>
    <mat-card *ngIf="!accepted_short_consent">
      <h2>You must consent to proceed</h2>
    </mat-card>


    <div [@openClose]="accepted_short_consent ? 'open' : 'closed'" class="open-close-container">
      <form [hidden]="!accepted_short_consent" [formGroup]="qualificationForm" (ngSubmit)="onSubmit()">
        <h2>Thanks for agreeing to participate!</h2>
        <p>Please answer all of the following questions</p>
        <div class="shortConsent">
          <label id="example-radio-group-label">Do any children under the age of 18 currently live in your
            household?</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="parents">
            <mat-radio-button class="example-radio-button" value="true">
              Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="0">
              No
            </mat-radio-button>
          </mat-radio-group>
          <div class="fielderror" *ngIf="qualificationForm.value.parents == ''">
            This field is required
          </div>
          <hr />
          <p>
            Scientists have added genes to certain food crops to make them
            insect resistant and herbicide tolerant. These are called
            genetically modified (GM) crops. Examples of GM crops in the U.S.
            include some corn, soybeans, and canola. The next question is about
            GM food made from these crops.
          </p>
          <label id="example-radio-group-labelgm">Do you think it is unsafe or safe to eat GM food? Select the
            number that comes closest to your views.
          </label>

          <mat-radio-group aria-labelledby="example-radio-group-labelgm" class="example-radio-group"
            formControlName="gm">
            <mat-radio-button *ngFor="let response of possibleResponses" class="example-radio-button"
              value="{{ response.value }}">
              {{ response.value }} {{ response.name }}
            </mat-radio-button>
          </mat-radio-group>
          <div class="fielderror" *ngIf="qualificationForm.value.gm == ''">
            This field is required
          </div>
          <hr />
          <p>
            A vaccine imitates an infection without inducing the disease, and
            leads the immune system to develop immunity to that disease. The
            next question is about vaccines currently recommended for children
            (childhood vaccines), such as the Measles, mumps, rubella (MMR)
            vaccine or the Tetanus, diphtheria, and pertussis (Tdap) vaccine.
          </p>
          <label id="example-radio-group-label">Do you think childhood vaccines are unsafe or safe for healthy
            children? Select the number that comes closest to your views.
          </label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="vac">
            <mat-radio-button *ngFor="let response of possibleResponses" class="example-radio-button"
              value="{{ response.value }}">
              {{ response.value }} {{ response.name }}
            </mat-radio-button>
          </mat-radio-group>
          <div class="fielderror" *ngIf="qualificationForm.value.vac == ''">
            This field is required
          </div>
          <hr />
          <p>Do you live in the U.S.?</p>
          <!-- <label id="example-radio-group-labellocation">Do you live in the U.S.?
                    </label> -->
          <mat-radio-group aria-labelledby="example-radio-group-labelus" class="example-radio-group"
            formControlName="us">
            <mat-radio-button class="example-radio-button" value="true">
              Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="0">
              No
            </mat-radio-button>
          </mat-radio-group>
          <div class="fielderror" *ngIf="qualificationForm.value.us == ''">
            This field is required
          </div>
          <!-- (userpeer{{_USER_IS_PEER}}) -->

          <ng-container *ngIf="!this._USER_IS_PEER">
            <hr />
            <p>
              To complete the study and earn payment you will need to recruit two
              of your friends to answer questions as well. Is this OK with you?
            </p>
            <mat-radio-group required aria-labelledby="example-radio-group-labelfriends" class="example-radio-group"
              formControlName="friends">
              <mat-radio-button class="example-radio-button" value="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="0">
                No
              </mat-radio-button>
            </mat-radio-group>
            <div class="fielderror" *ngIf="qualificationForm.value.friends == ''">
              This field is required
            </div>
          </ng-container>
          <ng-container *ngIf="this._USER_IS_PEER">
            <hr />
            <p>
              Would it be ok to share your answers to the previous two questions with the friend who invited you to the
              study?
            </p>
            <mat-radio-group required aria-labelledby="example-radio-group-labelfriends" class="example-radio-group"
              formControlName="share_data">
              <mat-radio-button class="example-radio-button" value="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="0">
                No
              </mat-radio-button>
            </mat-radio-group>
            <div class="fielderror" *ngIf="qualificationForm.value.data == ''">
              This field is required
            </div>
          </ng-container>
        </div>
        <hr />
        <div *ngIf="!qualificationForm.valid" class="fielderror">
          Please complete all questions above to submit the form.
        </div>
        <button mat-stroked-button [disabled]="!qualificationForm.valid" color="primary" type="submit">
          Submit
        </button>
        <br /><br /><br /><br />
      </form>
    </div>
  </div>
</div>
<mat-card *ngIf="!qualified && submitted" style="margin:12px;">
  <h2>
    Thank you for your submission. Unfortunately, you aren't a match for any current studies
  </h2>
</mat-card>
<div *ngIf="qualified && submitted && !user">
  <mat-card *ngIf="!hideQualificationMessage" style="text-align: center; margin: 12px 0" color="primary">
    <mat-icon style="color: green; font-size: 44px">check_circle_outline</mat-icon>
    <h2>
      Great - it looks like you're qualified to participate. Now, please create an account so we can invite you to
      studies by email and pay you through Paypal.
    </h2>
  </mat-card>

  <app-verification (notifyParent)="getNotification($event)" [qualificationForm]="qualificationForm"></app-verification>
</div>