<div *ngIf="!submitted" class="surveyActual">
    <!-- <button mat-stroked-button (click)="testOne()" class="TODO">Dev->qualified</button> -->
    <div class="centerheader">
        <h1>Welcome!</h1>
        <!-- <div class="debug">
            {{qualificationForm.value | json}}
            {{'qual' + isQualified(qualificationForm)}}
        </div> -->
    </div>
    <div class="info">
        <p>We need to get your opinion on a few things to make sure you're a good fit for the study. First, please read
            the consent form
            below.</p>
        <div class="consentContent">
            By clicking the checkbox below you acknowledge that you consent to the collection of data<br>

            <div>
                <h2>How will we use your data?</h2>
                <p>Websurvey collects your data so that we can:</p>
                <ul style="text-align:left;">
                    <li>Select participants for study surveys</li>
                    <li>Contact you about studies for which you are eligible</li>
                    <li>Make PayPal payments to the provided account</li>
                    <li>Analyze the anonymized results of the studies in research</li>
                </ul>
                <h2> You must also read and agree to the full <a TARGET="_BLANK" href="privacy">privacy disclosure </a>
                </h2>
            </div>
            <br>
            <mat-checkbox [(ngModel)]="accepted_short_consent">I consent</mat-checkbox>
        </div>
        <mat-card *ngIf="!accepted_short_consent">
            <h2>You must consent to proceed</h2>
        </mat-card>
        <div [@openClose]="accepted_short_consent ? 'open' : 'closed'" class="open-close-container">
            <form [hidden]="!accepted_short_consent" [formGroup]="qualificationForm" (ngSubmit)="onSubmit()">
                <h2>Thanks for your consent!</h2>
                <p>Please answer all of the following questions</p>
                <div class="shortConsent">

                    <label id="example-radio-group-label">Do any children under the age of 18 currently live in your
                        household?</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="parents">
                        <mat-radio-button class="example-radio-button" value="true">
                            Yes
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="false">
                            No
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="fielderror" *ngIf="qualificationForm.value.parents ==''">
                        This field is required
                    </div>
                    <hr>
                    <p>Scientists have added genes to certain food crops to make them insect resistant and herbicide
                        tolerant.
                        These are called genetically modified (GM) crops. Examples of GM crops in the U.S. include some
                        corn, soybeans, and canola. The next question is about GM food made from these crops.
                    </p>
                    <label id="example-radio-group-labelgm">Do you think it is unsafe or fsafe to eat GM food?
                        Select the number that comes closest to your views </label>

                    <mat-radio-group aria-labelledby="example-radio-group-labelgm" class="example-radio-group"
                        formControlName="gm">
                        <mat-radio-button *ngFor="let response of possibleResponses" class="example-radio-button"
                            value="{{response.value}}">
                            {{response.value}} {{response.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="fielderror" *ngIf="qualificationForm.value.gm ==''">
                        This field is required
                    </div>
                    <hr>
                    <p>
                        A vaccine imitates an infection without inducing the disease, and
                        leads the immune system to develop immunity to that disease. The next question is about vaccines
                        currently recommended for children (childhood vaccines), such as the Measles, mumps, rubella
                        (MMR)
                        vaccine or the Tetanus, diphtheria, and pertussis (Tdap) vaccine.
                    </p>
                    <label id="example-radio-group-label">Do you think childhood vaccines are unsafe or safe for healthy
                        children?
                        Select the number that comes closest to your views </label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                        formControlName="vac">
                        <mat-radio-button *ngFor="let response of possibleResponses" class="example-radio-button"
                            value="{{response.value}}">
                            {{response.value}} {{response.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="fielderror" *ngIf="qualificationForm.value.vac ==''">
                        This field is required
                    </div>
                    <hr>
                    <p>Do you live in the U.S.?</p>
                    <!-- <label id="example-radio-group-labellocation">Do you live in the U.S.?
                    </label> -->
                    <mat-radio-group aria-labelledby="example-radio-group-labelus" class="example-radio-group"
                        formControlName="us">
                        <mat-radio-button class="example-radio-button" value="true">
                            Yes
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="false">
                            No
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="fielderror" *ngIf="qualificationForm.value.us ==''">
                        This field is required
                    </div>
                    <hr>
                    <p>
                        To complete the study and earn payment you will need to recruit two of your friends to answer
                        questions as well. Is this OK with you?
                    </p>
                    <mat-radio-group required aria-labelledby="example-radio-group-labelfriends"
                        class="example-radio-group" formControlName="friends">
                        <mat-radio-button class="example-radio-button" value="true">
                            Yes
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="false">
                            No
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="fielderror" *ngIf="qualificationForm.value.friends ==''">
                        This field is required
                    </div>
                </div>
                <hr>
                <div *ngIf="!qualificationForm.valid" class="fielderror">
                    Please complete all questions above to submit the form

                </div>
                <button mat-stroked-button [disabled]="!qualificationForm.valid" color="primary"
                    type="submit">Submit</button>
                <br><br><br><br>
            </form>

        </div>
    </div>
</div>
<mat-card *ngIf="!qualified && submitted">
    <h2> Thank you for your submission, unfortunately you don't fit the study criteria - thank you for your interest
        however!
        <span class="TODO">direct elsewhere? helpful info</span>
    </h2>
</mat-card>
<div *ngIf="qualified && submitted">
    <mat-card style="text-align:center;margin:12px 0;" color="primary">
        <mat-icon style="color:green;font-size:44px;">check_circle_outline</mat-icon>
        <h2> Great - it looks like you're qualified to participate. Let's get your information and email verified.
        </h2>
    </mat-card>

    <app-verification [qualificationForm]="qualificationForm"></app-verification>
</div>