<mat-card class="omni-card">
    <div class="omni-header">
        <h2 style="text-transform:capitalize;padding-left:4px;"> {{title}}</h2>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search {{title}}" #input>
        </mat-form-field>
        <hr>
        <div *ngIf="actions && options.selectable">Actions (apply to all selections): *(error checking switch
            <button (click)="groupAction(action)" mat-stroked-button *ngFor="let action of actions">
                {{action.name}}

            </button>
        </div>

    </div>
    <table class="omniTable" matSort matSortDirection="asc" mat-table [dataSource]="dataSource">
        <!-- <ng-container *ngFor="let col of searchFields" [matColumnDef]="col">

            <th mat-header-cell *matHeaderCellDef>
                <mat-radio-button value="1"></mat-radio-button>
                &nbsp;
            </th>
        </ng-container> -->
        <ng-container *ngFor="let col of objectColumns" [matColumnDef]="col.name">
            <ng-container *ngIf="col.name =='select';else noSelectH">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle($event.checked) : null" [checked]=" isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
            </ng-container>
            <ng-template #noSelectH>
                <ng-container *ngIf="col.name =='actions';else notAction">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ col.name }}
                    </th>
                </ng-container>
                <ng-template #notAction>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ col.name }}
                    </th>
                </ng-template>
            </ng-template>
            <ng-container *ngIf=" col.name =='select'; else noSelect">
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null;addToSelection(element, $event.checked)"
                        [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-template #noSelect>
                <ng-container *ngIf=" col.name =='actions'; else notAction">
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngFor="let action of actions">
                            <button *ngIf="!action.link" (click)="singleAction(action)" mat-stroked-button>
                                {{action.name}}
                            </button>
                            <a *ngIf="action.link" [routerLink]="action.link + '/' + element.id" mat-stroked-button>
                                {{action.name}}
                            </a>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-template #notAction>
                    <form (ngSubmit)="submitRow()">
                        <td mat-cell *matCellDef="let element;let ei = index;">
                            <ng-container *ngIf="col.edit; else noEdit">

                                <mat-select #f [(value)]="element[col.name]"
                                    (selectionChange)="submitRow({title:title,name: col.name,value:f.value,element:element})"
                                    placeholder="Change status" name="item">
                                    <!-- <mat-option [value]="element[col.name]">Change status</mat-option> -->
                                    <mat-option *ngFor="let item of col.options" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </ng-container>
                            <ng-template #noEdit>
                                {{col.type ? col.type.indexOf('ed_at') >-1 ? (element[col.name] | date:'short') :
                                element[col.name] : element[col.name]}}
                            </ng-template>
                        </td>
                    </form>
                </ng-template>
            </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-header-row *matHeaderRowDef="searchFields" class="example-second-header-row">
        </tr> -->
        <tr mat-row *matRowDef="let row;columns: displayedColumns;">
        </tr>
    </table>
    <!-- <mat-paginator (page)="onPaginateChange($event)" [length]="resultsLength" [pageSize]="10"
        [pageSizeOptions]="[10,30, 50,100,500]">
    </mat-paginator> -->
</mat-card>