<div style="text-align:center;" class="default-alert">
    <div *ngIf="alerts.length && alerts[0].id!=='motd'" style="display:flex;">
        <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}" class="alert-inner">
            <!-- <mat-icon class="close" (click)="removeAlert(alert)">close</mat-icon> -->
            <a *ngIf="!alert.autoClose" style="cursor:pointer;" class="close" (click)="removeAlert(alert)">X&nbsp;</a>
            <span [innerHTML]="alert.message"></span>
            <!-- <button mat-button>Basic</button> -->

        </div>
    </div>

    <div *ngIf="alerts.length && alerts[0].id==='motd'">
        <mat-card *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
            <!-- <mat-icon class="close" (click)="removeAlert(alert)">close</mat-icon> -->
            <button style="float:right;" (click)="removeAlert(alert);hideMOTD()" mat-mini-fab
                aria-label="Example icon button with a menu icon">
                <mat-icon>close</mat-icon>
            </button>
            <mat-card-title>
                Message of the day
            </mat-card-title>
            <span [innerHTML]="alert.message"></span>
            <!-- <a class="close" (click)="removeAlert(alert)">&times;</a> -->

        </mat-card>
    </div>
</div>

<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <a class="close" (click)="removeAlert(alert)">&times;</a>
    <span [innerHTML]="alert.message"></span>
</div>

<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <a class="close" (click)="removeAlert(alert)">&times;</a>
    <span [innerHTML]="alert.message"></span>
</div>