<div class="centerheader" *ngIf="registered !== true && emailLinkAttempt !== true">
  <h1>Create your account</h1>
  <hr />
  <div class="TODO" *ngIf="qualificationForm">
    {{qualificationForm.value}}
  </div>

  <!-- <button class="TODO" (click)="test()">test</button> -->
  <mat-card id="login-card">
    <form class="example-form login-form" (ngSubmit)="onSubmit()" [formGroup]="emailVerificationForm">
      <div>
        <label for="email">Email</label>

        <input style="border:1px solid black;" [pattern]="emailPattern" type="email" id="email" name="email" email
          formControlName="email" matInput required placeholder="&nbsp;Email" class="example-full-width" />
        <mat-error *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </mat-error>
      </div>
      <app-password-form formControlName="password" id="password"></app-password-form>
      <div [hidden]="!errors.length" style="color: #c80000; font-weight: bold;">
        <div class="tip">
          <div *ngFor="let error of errors">{{ error }}</div>
          &nbsp;
        </div>
      </div>
      <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha> -->
      <button class="button createbutton" [disabled]="!emailVerificationForm.valid" mat-stroked-button type="submit">
        Create Account
      </button>
    </form>
    <div class="login-footer">
      By clicking "Create Account", you agree to our
      <a href="privacy">Privacy Disclaimer</a>
    </div>
  </mat-card>
</div>
<mat-card *ngIf="registered" style="text-align: center;" color="primary">
  <mat-icon style="color: green; font-size: 44px; vertical-align: initial;">check_circle_outline</mat-icon>
  <h2>
    We've received your request to create an account. Please check your email
    for a verification link.
  </h2>
</mat-card>
<mat-card *ngIf="
    emailLinkAttempt !== false &&
    emailLinkNotFound !== true &&
    emailLinkFoundAndHandled !== true &&
    emailLinkFoundAndHandledResearcher !== true

  " style="text-align: center;" color="primary">
  <mat-icon style="color: green; font-size: 44px; vertical-align: initial;">search</mat-icon>
  <h2>Checking verification code</h2>
</mat-card>
<mat-card *ngIf="emailLinkFoundAndHandledResearcher !== false" style="text-align: center;" color="primary">
  <mat-icon style="color: green; font-size: 44px; vertical-align: initial;">check_circle_outline</mat-icon>
  <h2>
    Verification code confirmed, your account has been created.
  </h2>
  <p>
    You may now log in. Please set a new password after doing so.
    <a [routerLink]="'/login/' + userEmail">Login</a>
  </p>
</mat-card>
<mat-card *ngIf="emailLinkFoundAndHandled !== false" style="text-align: center;" color="primary">
  <mat-icon style="color: green; font-size: 44px; vertical-align: initial;">check_circle_outline</mat-icon>
  <h2>
    Verification code confirmed, your account has been created and you are now
    logged in.
  </h2>
  <app-set-password></app-set-password>
  <!-- <p>
    You may now log in.
    <a [routerLink]="'/login/' + userEmail">Login</a>
  </p> -->
</mat-card>
<mat-card *ngIf="emailLinkNotFound === true" style="text-align: center;" color="primary">
  <mat-icon style="color: red; font-size: 44px; vertical-align: initial;">error_outline</mat-icon>
  <h2>
    We couldn't find that verification code, please try again.<br /><br />
    If you keep getting an error, try copying and pasting the URL of the
    verification link in the browser instead of clicking it.
  </h2>
</mat-card>