<mat-card>
    <form class="example-form login-form" (ngSubmit)="onSubmit();inviteForm.reset()" [formGroup]="inviteForm">
        <mat-form-field class="example-full-width" appearance="outline">
            <input placeholder="Nickname" type="nickname" formControlName="nickname" matInput required>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="outline">
            <input type="email" email formControlName="email" matInput required placeholder="Email">
            <mat-error *ngIf="f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </mat-error>
        </mat-form-field><br>
        <br>
        <button class="button createbutton" [disabled]="!inviteForm.valid" mat-stroked-button
            type="submit">Submit</button>
    </form>
    {{message}}
</mat-card>