<!-- {{participants | json}} -->
<p>
    This panel shows the participants currently selected for the project.
</p>
<mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
<button mat-stroked-button (click)="onRunTable('invited')">Select invited</button>
<button mat-stroked-button (click)="onRunTable('!invited')">Select not yet invited</button>
<button mat-stroked-button (click)="onRunTable('!finished|invited')">*Select invited but not finished</button>

<!-- <button mat-stroked-button (click)="onRunTable('!finished')">Select not finished</button> -->
<button mat-stroked-button (click)="onRunTable('finished')">Select finished</button>

<!-- s
<p>
    <hr>pl:
     There are *show data total{{resultsLength}} selected participants
    //if finished, they have completed

    //if invited, they have received invite - ?invite time

    //can resend single or individually

    <br>show all invited but not finished
</p> -->

<div>
    <h3>Your current selection is <code>{{resultsLength}}</code> of the project participants</h3>

    <button mat-stroked-button color="warn" (click)="sendProjectInvitations();">Send Project Invitation Emails</button>
    <button mat-stroked-button disabled>Send Reminder emails </button>&nbsp;&nbsp;

    <mat-checkbox [(ngModel)]="TEST_MODE">Test Mode [{{TEST_MODE}}]</mat-checkbox>
    <div *ngIf="!TEST_MODE" style="text-align:center;color:orange">
        <h2 class="warn">Production Mode</h2>
    </div>

</div>
<div *ngIf="PREVIEWDATA" style="border:1px solid orange;padding:2px;">
    <mat-card *ngIf="invitationErrors.length; else noErrors">
        <h2>There are errors in your submission</h2>
        <i>
            Selection won't submit in production mode with errors
        </i>
        <ul>
            <li *ngFor="let ie of invitationErrors">{{ie}}</li>

        </ul>
    </mat-card>

    <mat-card>
        <h2 #noErrors>No errors detected</h2>
        <h2>The following users would receive an invitation</h2>
        <p>Turn off test mode and re-send if correct</p>
        <div style="overflow:scroll;">
            <table class="blueTable">
                <tr>
                    <th *ngFor="let h of PREVIEWDATA.headers">{{h}}</th>
                </tr>
                <tr *ngFor="let d of PREVIEWDATA.rows;let i = index;">
                    <td *ngFor="let h of PREVIEWDATA.headers;let j = index;">
                        {{PREVIEWDATA.rows[i][h]}}
                    </td>
                </tr>
            </table>
        </div>
    </mat-card>



</div>



<div>
    <table style="width:100%;" mat-table [dataSource]="data" class="example-table" matSort matSortActive="created_at"
        matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="safeid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SafeID</th>
            <td mat-cell *matCellDef="let row">{{row.safeid}}</td>
        </ng-container>

        <ng-container matColumnDef="invited">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Invited</th>
            <td mat-cell *matCellDef="let row">{{row.invited ? row.invited : 'No'}}</td>
        </ng-container>
        <ng-container matColumnDef="amount_to_pay">
            <th mat-header-cell *matHeaderCellDef>Amount to pay</th>
            <td mat-cell *matCellDef="let row">{{row.amount_to_pay}}</td>
        </ng-container>

        <ng-container matColumnDef="finished">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Finished</th>
            <td mat-cell *matCellDef="let row">{{row.finished}}</td>
        </ng-container>
        <ng-container matColumnDef="finished_ip">
            <th mat-header-cell *matHeaderCellDef>Finished IP</th>
            <td mat-cell *matCellDef="let row">{{row.finished_ip}}</td>
        </ng-container>
        <ng-container matColumnDef="userparam1">
            <th mat-header-cell *matHeaderCellDef>userparam1</th>
            <td mat-cell *matCellDef="let row">{{row.userparam1}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <!-- TODO -->
                <button>Remind</button>
                <button>Re-send Invitation</button>

                {{row.userparam1}}</td>
        </ng-container>
        <!-- Created Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Created
            </th>
            <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>