<div *ngIf="user && user.is_seed === null">
  <mat-card class="innercard">
    <mat-card-title> Invited by {{ user.seed.user.email }} </mat-card-title>
  </mat-card>
</div>
<div *ngIf="user && user.is_seed !== null">
  <mat-card class="innercard">
    <mat-card-title> Invite friends </mat-card-title>
    <p>
      <b>We need two of your friends to sign up for MySurveys. </b> They could
      be your close friends or other acquaintances, but should not live in the
      same household as you. Please only invite friends that are over 18 years
      old and live in the U.S.
    </p>
    <p>
      As we mentioned, you will receive $1 for registering and inviting friends,
      no matter whether your friends sign up or not. Then, you’ll receive $5 for
      the first friend who signs up, $10 for the second, and $10 for completing
      the main survey - for a total of $26 dollars. Each of your friends will
      receive $1 for completing the initial survey, and $10 for completing the
      main survey.
    </p>

    <p>
      <b>
        You can invite more than two friends, but we will only be able to accept
        and compensate the first two friends that join.</b
      >
    </p>
    <p>
      Once you enter a friend's contact information, they will receive the email
      message below. Please enter a custom message to personalize the
      invitation.
      <b
        >Please notify your friends separately to look out for this email and
        check their spam folder.</b
      >
    </p>
    <form (ngSubmit)="onSubmitProfileChange()" [formGroup]="profileForm">
      <p>
        Please enter your own name or nickname that your friends would recognize.  Please use the same name or nickname for all friends that you invite.
      </p>
      <input
        style="border: 1px solid black"
        type="nickname"
        id="nickname"
        name="nickname"
        nickname
        formControlName="nickname"
        matInput
        required
        placeholder="&nbsp;Nickname"
        class="example-full-width"
      />
      <br />
      <button
        class="button createbutton"
        type="submit"
        [disabled]="!profileForm.valid"
        mat-stroked-button
      >
       Save my nickname
      </button>
    </form>
    <hr />

    <div
      style="text-align: center; color: green"
      *ngIf="this.user.verified_friends_count > 1; else showFriendForm"
    >
      <h1>
        Two of your invited friends have successfully confirmed their PayPal
        account -- you don't need to invite more
      </h1>
      <mat-icon>success</mat-icon>
    </div>
    <ng-template #showFriendForm>
      <form [formGroup]="friendForm" (ngSubmit)="onSubmitFriendInvite()">
        <label for="nickname">Enter your friend's name or nickname</label>
        <input
          required
          style="border: 1px solid black; width: 100%"
          type="text"
          id="nickname"
          name="nickname"
          formControlName="nickname"
          matInput
          placeholder="&nbsp;Nickname"
          class="example-full-width"
        />

        <br />
        <br />
        <label for="email">Enter your friend's email address here</label>
        <input
          required
          style="border: 1px solid black; width: 100%"
          type="text"
          id="email"
          name="email"
          formControlName="email"
          matInput
          placeholder="&nbsp;Email"
          class="example-full-width"
        />

        <br />
        <br />
        <label for="custom_message"
          >Enter a custom message (appears on the first line of the
          invitation)</label
        >
        <input
          style="border: 1px solid black; width: 100%"
          type="text"
          id="custom_message"
          name="custom_message"
          formControlName="custom_message"
          matInput
          placeholder="&nbsp;Custom Messagel"
          class="example-full-width"
        />
        <button
        mat-button
          type="submit"
          [disabled]="
            friendForm.value.email == '' ||
            friendForm.value.nickname == '' ||
            profileForm.value.nickname == '' ||  profileForm.value.nickname == undefined 
          "
        >
          Send friend invitation
        </button>
      </form>
    </ng-template>
  </mat-card>
  <mat-card class="innercard">
    <mat-card-title> Invited friends </mat-card-title>
    <table *ngIf="user; else loading" class="blueTable">
      <tr>
        <th>Email</th>
        <th>Invited on / reminded on</th>
        <th>Email verified</th>
        <th>PayPal verified</th>

        <th>Actions</th>
      </tr>
      <tr *ngFor="let f of user.friends">
        <td>{{ f.user.email }}</td>
        <td>{{ f.user.updated_at | date: "short" }}</td>
        <td>
          {{
            f.user.email_verified_at
              ? (f.user.email_verified_at | date: "short")
              : "No"
          }}
        </td>
        <td>{{ f.paypal_id_status }}</td>
        <td>
          <button
            [disabled]="f.user.email.verified_at"
            (click)="sendFriendReminderButton(f.user.email, f.user.nickname); friendForm.reset()">
            Send reminder
          </button>
        </td>
      </tr>
    </table>
    <ng-template #loading> Loading... </ng-template>
  </mat-card>
  <mat-card class="innercard">
    <mat-card-title>Example of friend invitation email</mat-card-title>
    <div>
      <p *ngFor="let line of user.emailExampleLines">
        {{line}}
      </p>
      <button disabled mat-stroked-button>Button</button>
    </div>   
  </mat-card>
</div>
