<div *ngIf="user &&  user.is_seed ===null">
    <mat-card class="innercard">
        <mat-card-title>
            Invited by {{user.seed.user.email}}


        </mat-card-title>
    </mat-card>
</div>
<div *ngIf="user &&  user.is_seed !==null">
    <mat-card class="innercard">
        <mat-card-title>
            Invite friends
        </mat-card-title>

        <form [formGroup]="friendForm" (ngSubmit)="onSubmitFriendInvite();friendForm.reset()">

            <label for="email">Friend's email</label>
            <input style="border:1px solid black;width:100%;" type="text" id="email" name="email"
                formControlName="email" matInput placeholder="&nbsp;First Name" class="example-full-width" />
            <button type="submit">Submit</button>
        </form>
        <hr>

    </mat-card>
    <mat-card class="innercard">
        <mat-card-title>
            Invited friends
        </mat-card-title>
        <table *ngIf="user ; else loading" class="blueTable">
            <tr>
                <th>Email</th>
                <th>Invited on / reminded on</th>
                <th>Email verified</th>
                <th>PayPal verified</th>

                <th>Actions</th>
            </tr>
            <tr *ngFor="let f of user.friends">
                <td>{{f.user.email}}</td>
                <td>{{f.user.updated_at | date: 'short'}}</td>
                <td>{{f.user.email_verified_at ? (f.user.email_verified_at | date: 'short') : 'No'}} </td>
                <td> {{f.paypal_id_status}}</td>
                <td><button [disabled]="f.user.email.verified_at"
                        (click)="clickSubmitFriendInvite(f.user.email);friendForm.reset()">Send reminder</button>
            </tr>
        </table>
        <ng-template #loading>
            Loading...
        </ng-template>

    </mat-card>
</div>