<mat-card>
  <mat-card-title> Import/Export Participant Data </mat-card-title>
  <button (click)="export()">Click to Export CSV</button>
  <button (click)="export('paypal')">
    Click to Export CSV formatted for PayPal
  </button>

  <hr />
  Upload CSV
  <!-- <button (click)="import()">Click to Upload CSV</button> -->
  <input
    type="file"
    class="upload"
    (change)="changeListener($event.target.files)"
  />

  <hr />
  <div *ngIf="changesPending" style="overflow: scroll">
    <button (click)="commitChanges()">Commit</button>

    <h3>Changes pending to project participants</h3>
    *additional error checks to occur in production - i.e. finished requirement
    <i>Hit commit to save the changes</i>
    <table class="blueTable">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of parsedCsv; let i = index">
          <td *ngFor="let item of row">{{ item }}</td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</mat-card>
