<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin-left:40px"><a style="color:white;" [routerLink]="'home'">Web Survey (SciFriends
      2.0)</a> </span>
  <div class="spacer"></div>
</div>
<mat-sidenav-container class="example-container" style="margin-top:60px;">
  <mat-sidenav opened mode="side" class="box leftbox">
    <mat-list style="padding-top:0;">
      <mat-list-item style="background:aliceblue;font-size:12px;border-bottom:1px solid #1976d2" *ngIf="currentUser">
        {{currentUser.email ? currentUser.email : null}}
      </mat-list-item>
      <mat-list-item routerLink="home" class="sidenav-link" *ngIf="!currentUser">
        Home
      </mat-list-item>
    </mat-list>

    <mat-list style="padding-top:0;" *ngIf="currentUser">
      <mat-list-item routerLink="{{link.link}}" *ngFor="let link of links[currentUser.role]" class="sidenav-link">
        {{link.name}}
      </mat-list-item>
      <mat-list-item>
        <a *ngIf="currentUser" (click)="logout()" href="/" style="cursor:pointer;line-height:inherit;" color="warn"
          mat-button>Logout</a><br>

      </mat-list-item>
      <mat-list-item>
        <a color="primary" style="cursor:pointer;line-height:inherit;" mat-button href="privacy">Privacy
          Disclaimer</a>

      </mat-list-item>


    </mat-list>

  </mat-sidenav>
  <div class="box middlebox">
    <router-outlet></router-outlet>
  </div>
  <!-- <mat-sidenav opened mode="side" class="box rightbox" position="end">
    content opened
  </mat-sidenav> -->
</mat-sidenav-container>