<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="margin-left:40px;margin-top:6px;">SciFriends V2 testing / development interface</span>
  <div class="spacer"></div>
  <!-- <button (click)="setStep(0)" mat-raised-button color="accent">draft walkthrough</button> -->
  <!-- <button (click)="setStep(0)" mat-button color="accent">other project info</button> -->
</div>
<mat-sidenav-container class="example-container" style="margin-top:60px;">
  <mat-sidenav opened mode="side" class="box leftbox">
    <h3>Steps</h3>
    <p>The main concepts or participant touchpoints in the project. Click a button below to view status</p>
    <div class="button-column">
      <div *ngFor="let step of steps;let i = index;">
        {{i}}.
        <!-- {{step.name}} -->
        <button [ngClass]="{'active':i == selectedStep}" (click)="setStep(i)" mat-stroked-button
          color="{{step.color ? step.color : 'primary'}}">
          {{step.name}}
        </button>
      </div>
    </div>
  </mat-sidenav>
  <div class=" box middlebox">
    <div *ngFor="let step of steps;let i = index;">
      <div *ngIf="i == selectedStep">
        <mat-card>
          <div style="position:absolute;right:2px;top:2px;height:32px;">
            <!-- Role: {{step.role}} -->
          </div>
          <h3>{{step.name}}</h3>
          <i style="font-size:12px;"> Step: {{i}}</i>
          <br>
          {{step.description}}
        </mat-card>
        <mat-toolbar [ngStyle]="{'background-color':step.bgColor}">{{step.pageTitle}}</mat-toolbar>
        <div [innerHTML]="step.html">
        </div>
      </div>
    </div>
  </div>
  <mat-sidenav opened mode="side" class="box rightbox" position="end">
    <div *ngFor="let step of steps;let i = index;">
      <div *ngIf="i == selectedStep">
        <h3>Assets</h3>
        <ul *ngFor="let asset of step.assets">
          <li>{{asset}}</li>
        </ul>
        <div>
          Data: {{step.data}}
        </div>
        <div>
          Discussion:
          {{step.discussion}}
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>