<!-- Toolbar -->

<div class="appwrap">
  <div class="toolbar" role="banner">
    <mat-icon (click)="sidenav.toggle()" style="margin-left: 12px; cursor: pointer">menu</mat-icon>
    <span style="margin-left: 40px" class="sfi-title"><a [routerLink]="'home'">MySurveys</a>
    </span>
    <div class="spacer"></div>
    <alert id="da">a</alert>
    <img class="nav-link-home" [src]="logo" alt="Santa Fe Institute Logo" />
  </div>

  <mat-sidenav-container class="example-container" style="margin-top: 62px">
    <mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileView ? 'over' : 'side'" class="box leftbox">
      <mat-list style="padding-top: 0" class="sfi-navitem">
        <mat-list-item style="
            background: aliceblue;
            font-size: 12px;
            border-bottom: 1px solid #1976d2;
          " *ngIf="user">
          {{
            user && user.email
              ? " Logged in as " + user.email
              : "Not logged in."
          }}
          <a *ngIf="!user.email" [routerLink]="'/create'">Sign up!</a>
        </mat-list-item>
        <mat-list-item routerLink="home" class="sidenav-link" *ngIf="!user">
          Home
        </mat-list-item>
      </mat-list>

      <mat-list style="padding-top: 0" *ngIf="user" class="navlist">
        <mat-list-item [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }"
          [disabled]="user.mustVerify || link.disabled" routerLink="{{ link.link }}" (click)="customToggle()"
          *ngFor="let link of getLinks()" class="sidenav-link">
          {{ link.name }}
          <mat-icon>{{ link.icon }}</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <a (click)="logout()" href="/" style="cursor: pointer; line-height: inherit" color="warn"
            mat-button>Logout</a><br />
        </mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item>
          <a color="primary" style="cursor: pointer; line-height: inherit" mat-button [routerLink]="'privacy'">Privacy
            Disclaimer</a>
        </mat-list-item>
      </mat-list>
      <div style="position: absolute; bottom: 0; font-size: 10px">
        Development version 1125.2
      </div>
    </mat-sidenav>
    <div class="box middlebox appwrap">
      <alert id="motd"></alert>
      <router-outlet></router-outlet>
    </div>
    <!-- <mat-sidenav opened mode="side" class="box rightbox" position="end">
      content opened
    </mat-sidenav> -->
  </mat-sidenav-container>
</div>