<mat-card style="margin:22px;">
    <mat-card-title>Change email address</mat-card-title>
    <form (ngSubmit)="onSubmitEmailChange()" [formGroup]="changeEmailForm">
        <p>Please enter the email address you wish to change to</p>
        <input style="border:1px solid black;" [pattern]="emailPattern" type="email" id="email" name="email" email
            formControlName="email" matInput required placeholder="&nbsp;Email" class="example-full-width" />
        <br>
        <button class="button createbutton" type="submit" [disabled]="!changeEmailForm.valid" mat-stroked-button>
            Request email change
        </button>
    </form>
</mat-card>

<mat-card style="margin:22px;">
    <mat-card-title>Change Password</mat-card-title>
    <!-- {{changePasswordForm.value | json}}<br>valid:{{changePasswordForm.valid}} -->
    <form (ngSubmit)="onSubmitPasswordChange()" [formGroup]="changePasswordForm">
        <label for="password">Current password</label>

        <input style="border:1px solid black;width:100%;" type="password" id="password" name="password" password
            minlength="8" formControlName="password" matInput required placeholder="&nbsp;Current password"
            class="example-full-width" />
        <mat-error *ngIf="f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">New password is required</div>
        </mat-error>
        <app-password-form formControlName="new_password"></app-password-form>
        <button class="button createbutton" [disabled]="!changePasswordForm.valid" type="submit" mat-stroked-button>
            Request password change
        </button>
    </form>
</mat-card>