<p>check-max-levels works!</p>
<!-- on select: warn if project.max_participants < $project.desired_sample_size <br>
    "project.max_payour <=0, <div *ngIf="project.max_participants < $project.desired_sample_size">
        <div *ngIf="project.max_payour <=0">
            Warning: you do not wish to pay anything for the desired (*sampple size*) participants
        </div>

        </div> -->

<!-- function checkMaxLevels($row)
{
    if ($row['max_participants'] < $row['desired_sample_size']) {
        if ($row['max_payout'] <= 0) {
            echoRed("Warning: You do not wish to pay anything for the desired "
              . "{$row['desired_sample_size']} participants! ");
        } else {
          echoRed("Warning: You wish for a sample size of {$row['desired_sample_size']} "
            . "but the <em>maximum</em> amount of participants with the current "
            . "Quota is {$row['max_participants']}. ");
        }

    } else {
        echoGreen("You wish for a sample size of {$row['desired_sample_size']} " .
                "and the <em>maximum</em> amount of participants with the current " .
                "Quota is {$row['max_participants']}. ");
    }

    if ($row['max_invitations'] < $row['desired_num_invitations']) {
        echoRed("Warning: You plan to invite {$row['desired_num_invitations']} participants " .
                "but the <em>maximum</em> amount of invitations is {$row['max_invitations']}. ");
    } else {
        if ($row['max_invitations'] < $row['desired_sample_size']) {
            echoRed("You plan to invite {$row['desired_num_invitations']} participants " .
                "which is fewer than the desired sample size of {$row['desired_sample_size']}. ");
        } else {
            echoGreen("You plan to invite {$row['desired_num_invitations']} participants " .
                "and the <em>maximum</em> amount of invitations is {$row['max_invitations']}. ");
        }
    }
    echo "<BR>";
  } -->