<style>
    #treeWrap {
        border: 1px solid green;
        display: inline-grid;
    }

    .box {
        border-radius: 8px;
        margin: 12px;
        padding: 4px;
    }

    .userBox {
        border: 1px solid purple;

    }

    .friendBox {
        border: 1px solid green;

        margin-left: 44px;
    }
</style>
<div *ngIf="!data.length">
    Loading...
</div>
<div id="treeWrap">
    <div *ngFor="let seed of data" class="box userBox">
        {{seed.email}}<br>
        {{seed.role}}<br>
        {{seed.subrole}}<br>
        <button (click)="seed.show = !seed.show">{{seed.show ? 'Hide' : 'Show'}}</button>
        <h4>{{seed.friends.length? 'Friends' : null}}</h4>
        <div *ngIf="seed.show">
            <table class="blueTable">
                <tr *ngFor="let item of seed.participant | keyvalue">
                    <td> {{item.key}}</td>
                    <td *ngIf="item.key !='projects'">{{item.value}}</td>
                    <td *ngIf="item.key =='projects'">
                <tr *ngFor="let i of item.value | keyvalue">
                    <td> {{i.key}}</td>
                </tr>
                <tr *ngFor="let p of item.value">
                    <td>{{p.project_title}}
                <tr *ngFor="let i of p | keyvalue">
                    <td> {{i.key}}</td>
                    <td> {{i.value}}</td>
                </tr>
                </td>
                </tr>
                </td>
                </tr>
            </table>
        </div>

        <div *ngFor="let f of seed.friends" class="box friendBox">
            <button (click)="f.show = !f.show">{{seed.show ? 'Hide' : 'Show'}}</button>

            {{f.email}}
            <div *ngIf="f.show">
                <table class="blueTable">
                    <tr *ngFor="let item of f | keyvalue">
                        <td> {{item.key}}</td>

                        <td *ngIf="item.key !='projects'">{{item.value}}</td>
                        <td *ngIf="item.key =='projects'">
                            <ul>
                                <li *ngFor="let p of item.value">{{p.project_title}}</li>
                                <li *ngFor="let p of item.value">{{p.finished}}</li>

                            </ul>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>