<mat-card>
    Please enter your email address to request a password reset
    <form class="example-form login-form" (ngSubmit)="onSubmit();resetForm.reset()" [formGroup]="resetForm">

        <mat-form-field class="example-full-width" appearance="outline">
            <input type="email" email formControlName="email" matInput required placeholder="Email">
            <mat-error *ngIf="f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </mat-error>
        </mat-form-field><br>

        <!-- <re-captcha formControlName="recaptchaReactive"></re-captcha> -->



        <br>
        <button class="button createbutton" [disabled]="!resetForm.valid" mat-stroked-button
            type="submit">Submit</button>
    </form>
    <h3 *ngIf="submitted">{{message}}</h3>

</mat-card>