<div class="dev TODO " *ngIf="authService.localhost()">
    Login buttons for development<br>
    <button (click)="quickLogin('admin@mysurveys.santafe.edu');">Admin</button>
    <button (click)="quickLogin('researcher@mysurveys.santafe.edutest');">Researcher</button>
    <button (click)="quickLogin('participant@mysurveys.santafe.edutest');">Participant</button>
</div>
<div class="centerheader">
    <h1>Login</h1>
    <mat-card id="login-card">
        <form class="login-form main-login-card" (ngSubmit)="onSubmit();loginForm.reset()" [formGroup]="loginForm">
            <mat-form-field class="login-field">
                <input [pattern]="emailPattern" type="email" email formControlName="email" matInput required
                    placeholder="&nbsp;Email">
                <mat-error *ngIf="f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="login-field">
                <input placeholder="&nbsp;Password" type="password" formControlName="password" matInput required>
                <mat-error *ngIf="f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </mat-error>
            </mat-form-field>
            <br>
            <button [disabled]="!loginForm.valid" mat-stroked-button type="submit">Submit</button>
        </form>
        <p>
            <a href="password-reset">Forgot your password?</a>
        </p>
    </mat-card>
</div>