.main-login-card {
}

.main-login-card .login-field {
  width: 80%;
  margin: 0 auto;
}
.main-login-card input {
  // border: 1px solid #1976d2;
  border-radius: 4px;
  //   padding: 2px;
  //   font-size: 16px;
}
