<mat-card style="text-align: center;">
  <mat-card-title>Please verify your email address</mat-card-title>
  <p>
    Before you can continue, we need you to verify your email address
  </p>
  <p *ngIf="user">
    An email containing verification instructions was previously sent to {{ user.email }}
  </p>
  <p *ngIf="!user">
    An email containing verification instructions was sent to the provided email
    addresss
  </p>
  <a *ngIf="!user" [routerLink]="'/password-reset'">Password reset</a>
  <button *ngIf="user" (click)="resendVerificationEmail()" mat-stroked-button>Resend Verification Email</button>
  <h3 *ngIf="submitted">Request Received</h3>
</mat-card>