<mat-card class="innercard">
    <mat-card-title>
        PayPal
    </mat-card-title>
    <p>
        In order to make payments, we need to have your <a target="_NEW"
            href="https://www.paypal.com/paypalme/grab">PayPal.Me</a> link.
    </p>
    <p><b>Please enter your PayPal information below, and click submit.
        </b>
    </p>
    <p>
        If you don't have a PayPal account, you can sign up for one <a target="_NEW"
            href="https://www.paypal.com/welcome/signup/">here</a>.
        Once you have a PayPal account, you can <a target="_NEW" href="https://www.paypal.com/paypalme/grab">get
            your PayPal.Me link by clicking here</a>.
    </p>
    <form (ngSubmit)="onSubmitPaypalForm()" [formGroup]="paypalForm">
        <mat-form-field style="width:100%;" appearance="outline">
            <mat-label>
                Primary PayPal Email Address
            </mat-label>
            <input required type="email" id="email" name="email" formControlName="email" matInput
                placeholder="&nbsp;Paypal Email" class="example-full-width" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>
                Your primary PayPal email
            </mat-hint>
        </mat-form-field>
        <hr>
        <mat-form-field style="width:100%;" appearance="outline">
            <mat-label>PayPal.me Link</mat-label>
            <input required type="text" id="paypalme" name="paypalme" formControlName="paypalme" minlength="3" matInput
                placeholder="&nbsp;PayPal.Me Link" class="example-full-width" />
            <mat-icon matSuffix>link</mat-icon>
            <mat-hint> Only enter the part of your PayPal.Me address after <code>PayPal.Me/</code>&nbsp;&nbsp; <a
                    target="_NEW" href="https://www.paypal.com/paypalme/grab">
                    <mat-icon>info</mat-icon>
                </a></mat-hint>
        </mat-form-field>
        <button [disabled]="!paypalForm.valid" mat-stroked-button color="primary" type="submit">Submit</button>

    </form>
    <br>
    <mat-card>
        <mat-card-title>
            Your current info:
        </mat-card-title>

        <div *ngIf="user" style="background:l#b0ccff;">
            Paypal ID: {{user.paypal_id}}<br>
            Paypal.Me: {{user.paypal_me}}<br>
            <div *ngIf="confirmedPaypalMe">
                <h3 class="alert-success">
                    Account confirmed as:
                    [{{confirmedPaypalMe}}]<br> If this is your account you're all set!
                </h3>
            </div>
        </div>

    </mat-card>


    <!-- <p>For detailed instructions on opening a PayPal account and obtaining a
        PayPal.Me link, click the buttons below.</p> -->

    <!-- <div style="text-align:center;">
        <button mat-stroked-button (click)="showInfo = !showInfo">
            <mat-icon>info</mat-icon>
            Click for info on opening a PayPal account
        </button>
    </div> -->
    <br>
    <!-- <mat-card *ngIf="showInfo ==true">
        <ul>
            <li> You can open a PayPal account at <a target="_NEW"
                    href="https://www.paypal.com/welcome/signup/">www.paypal.com</a></li>
            <li>
                You will only need to provide your name, email, and mailing address (mysurvey will not have access to
                this
                information).
                Your PayPal email address can be the same as the one you used to sign up for mysurvey, but you can also
                use another one.
            </li>
            <li>In order to spend or withdraw your mysurvey payments, you will have to verify your PayPal account by
                adding a credit card or bank account to your PayPal Account.</li>
            <li></li>
        </ul>


    </mat-card> -->
    <br>
    <!-- <div>
        <div style="text-align:center;">
            <img style="width:20%;margin:22px auto;" src="/assets/paypalme.jpg">
        </div>
        <p>
            Once you have a PayPal account, getting a PayPal.Me link is easy. In your PayPal account, click on “Send &
            Request”
            menu in the top bar, and then select “Get your PayPal.Me link” in the bottom right part of the screen.
        </p>

        <p>
            On the next page, select the link you wish to use and click on “Grab this link”. Finally, on the next
            screen, you will have the opportunity to select whether you will use the link for Friends & family or
            Goods & services. You can select either, but you can start with Friends & family. You will also be asked
            to add a photo – this is not necessary.
            Click Create Your PayPal.Me when you’re ready. Then Copy the link and paste it in the form below, along
            with your Primary PayPal email address.<br>
    </div> -->
</mat-card>