<mat-card class="innercard">
    <mat-card-title>
        PayPal
    </mat-card-title>
    <h3>Welcome to SciFriends! We are delighted that you joined us.</h3>
    <p>
        Within a month we will send an invitation to a short,
        paid study about your current opinions to your PayPal email address. </p>
    <p>
        In order to make payments, we need to have both your
        <b>primary PayPal email address</b> and your
        <a target="_NEW" href="https://www.paypal.com/paypalme/grab">PayPal.Me</a> link.
        Your primary PayPal email address may not be the same as the address you used to sign up.

    </p>
    <p><b>Please enter your paypal information below, and click submit. You may scroll down for further instructions
        </b></p>
    <form (ngSubmit)="onSubmitPaypalForm()" [formGroup]="paypalForm">
        <h2>Your PayPal Information</h2>
        <label for="email">Primary PayPal Email Address</label>
        <input required style="border:1px solid black;width:100%;" type="email" id="email" name="email"
            formControlName="email" matInput placeholder="&nbsp;Paypal Email" class="example-full-width" />
        <label for="paypalme">PayPal.Me Link</label>

        <input required style="border:1px solid black;width:100%;" type="text" id="paypalme" name="paypalme"
            formControlName="paypalme" minlength="3" matInput placeholder="&nbsp;PayPal.Me Link"
            class="example-full-width" />
        <div style="padding:2px;color:orange;">
            Only enter the part of your PayPal.Me address after <code>PayPal.Me/</code>
        </div>
        <button [disabled]="!paypalForm.valid" mat-stroked-button color="primary" type="submit">submit</button>

    </form>
    Your current info:
    <div *ngIf="user" style="background:lightgrey;">
        Paypal ID: {{user.paypal_id}}<br>
        Paypal.Me: {{user.paypal_me}}<br>
        <div *ngIf="confirmedPaypalMe">
            <h3 class="alert-success">
                Account confirmed as:
                [{{confirmedPaypalMe}}]<br> If this is your account you're all set!
            </h3>

        </div>


    </div>

    <div *ngIf="confirmedPaypalMe">

    </div>



    <p>
        If you don't have a PayPal account, you can sign up for one <a target="_NEW"
            href="https://www.paypal.com/welcome/signup/">here</a>.
        Once you have a PayPal account, you can <a target="_NEW" href="https://www.paypal.com/paypalme/grab">get
            your PayPal.Me link</a> in just a few seconds.
    </p>
    <p>For detailed instructions on opening a PayPal account and obtaining a
        PayPal.Me link, click the buttons below. Otherwise, please input your PayPal
        information at the bottom of this page.</p><br>
    <div style="text-align:center;">
        <button mat-stroked-button (click)="showInfo = !showInfo">
            <mat-icon>info</mat-icon>
            Click for info on opening a PayPal account
        </button>
    </div>
    <br>
    <mat-card *ngIf="showInfo ==true">
        You can open a PayPal account at <a target="_NEW"
            href="https://www.paypal.com/welcome/signup/">www.paypal.com</a> in just a few minutes.
        <p> You will only need to provide your name, email, and mailing address (SciFriends will not have access to this
            information).
            Your PayPal email address can be the same as the one you used to sign up for SciFriends, but you can also
            use another one.
        </p>
        <p>
            In order to spend or withdraw your SciFriends payments, you will have to verify your PayPal account by
            adding a credit card or bank account to your PayPal Account.</p>
        <p class="TODO">For more detailed instructions on opening a PayPal account, click
            <a href="InstructionsPayPal.php">here</a></p>
    </mat-card>
    <br>


    <div>
        <div style="text-align:center;">
            <img style="width:20%;margin:22px auto;" src="/assets/paypalme.jpg">
        </div>
        <p>
            Once you have a PayPal account, getting a PayPal.Me link is easy. In your PayPal account, click on “Send &
            Request”
            menu in the top bar, and then select “Get your PayPal.Me link” in the bottom right part of the screen.
        </p>

        <p>
            On the next page, select the link you wish to use and click on “Grab this link”. Finally, on the next
            screen, you will have the opportunity to select whether you will use the link for Friends & family or
            Goods & services. You can select either, but you can start with Friends & family. You will also be asked
            to add a photo – this is not necessary.
            Click Create Your PayPal.Me when you’re ready. Then Copy the link and paste it in the form below, along
            with your Primary PayPal email address.<br>

    </div>


</mat-card>