<h3>Email Templates</h3>

<mat-accordion>
    <mat-expansion-panel *ngFor="let t of templates">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t.subject}} </mat-panel-title>
        </mat-expansion-panel-header>
        <form id="emailTemplate">
            <mat-form-field appearance="outline" style="width:100%;">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Subject" value={{t.subject}}>
                <mat-hint>Email Subject</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%;">
                <mat-label>Body</mat-label>
                <!-- <input matInput placeholder="Body" value={{t.body}}> -->
                <textarea matInput rows="25">
                    {{t.body}}
                </textarea>
                <mat-hint>Email Body</mat-hint>
            </mat-form-field>
            <button mat-stroked-button>Update*</button>
        </form>

    </mat-expansion-panel>
    <fieldset class="thincontent">
        <legend> Replacement codes for the templates </legend>
        <p> *link* </p>
        <p> *responsibleperson* </p>
        <p> *projecttitle* </p>
        <p> *projectinfo* </p>
        <p> *projectenddate* </p>
        <p> *username* </p>
        <p> *title* </p>
        <p> *nl* - New line </p>
        <p> *maxpayout* </p>
        <p> *expectedpayout* </p>
        <p> *loginlink* </p>
        <p> *adminaddress* </p>
        <p> *contactaddress* </p>
    </fieldset>
</mat-accordion>