<mat-card>
  <h1 style="text-transform: capitalize">{{ user.role }} Dashboard</h1>
  <div *ngIf="user && user.role === 'participant' && user.is_seed !== null">
    <!-- [ <a href="#">Invitations</a>]&nbsp; [<a href="#">Statistics</a>]&nbsp; [<a href="#">Profile</a>]&nbsp;
    <hr /> -->
    <!-- No pending invitations -->

    <div *ngIf="user.friends.length">
      <h3>Great - you've invited friends.</h3>
      <div *ngIf="!friends_verified_paypal && !friends_verified_email">
        When they've confirmed their accounts and verified PayPal you'll be
        eligible to begin<br />
      </div>

      <div *ngIf="friends_verified_email">
        <h3>You have friends who have verified their account</h3><br>
      </div>
      <div *ngIf="friends_verified_paypal">
        <h3>You have friends who have verified their PayPal</h3><br>
      </div>

      <div *ngIf="friends_verified_email && friends_verified_paypal">
        <h2>You have eligible friends! You'll receive project invitations when they are sent to your group.</h2>
      </div>
      <button [routerLinkActive]="['is-active-button,animate-stop']" class="mat-raised-button" color="primary"
        [routerLink]="'/dashboard/my-projects'">
        My surveys page
      </button>
      <button *ngIf="user.subrole =='seed'" [routerLinkActive]="['is-active-button,animate-stop']" mat-raised-button
        color="primary" [routerLink]="'/dashboard/friends'">
        Friends
      </button>
    </div>
  </div>
  <!-- If not a seed, show welcome message  -->
  <div *ngIf="user && user.is_seed === null">
    [ <a href="#">Invitations</a>]&nbsp; [<a href="#">Statistics</a>]&nbsp; [<a href="#">Profile</a>]&nbsp;
    <hr />
    No pending invitations<br />
    <button color="primary" [routerLink]="'/dashboard/paypal'" mat-stroked-button>
      PayPal settings
    </button>
  </div>

  <div *ngIf="user && user.role === 'administrator'">
    <hr />
    <button color="primary" [routerLink]="'/dashboard/settings'" mat-stroked-button>
      Click to view settings
    </button>
  </div>
  <div *ngIf="user && user.role === 'researcher'">
    <hr />
    <button [routerLink]="'/dashboard/projects'" mat-stroked-button>
      View Projects
    </button>
    <button [routerLink]="'/dashboard/projects/create'" mat-stroked-button>
      Create Project
    </button>
  </div>
  <div *ngIf="user.subrole =='peer'">

    <h3>Your privacy</h3>
    <p>
      MySurveys collects your data so we can select participants for study surveys, contact participants about
      studies and analyze the anonymized results of the studies in research.
      This website also uses cookies to ensure you get the best experience.
    </p>
    <p>
      You can find out more about our privacy policy by clicking
      <a target="_BLANK" href="/privacy">here</a> . By continuing to use this website,
      you acknowledge that you understand and agree to our full privacy terms.
    </p>

    <!-- <button style="margin: 5px 0 10px; background: green; color: white" (click)="acknowledgeGDPR()"
      mat-stroked-button color="primary">
      Accept
    </button> -->
    <p>
      If you object, please <a href="https://google.com">click here</a> to leave
      the site.
    </p>
  </div>
</mat-card>
<router-outlet></router-outlet>