<mat-card>
  <h1 style="text-transform: capitalize;">{{ user.role }} Dashboard</h1>
  <a [routerLink]="'/dashboard/profile'">Profile</a>
  <div *ngIf="user && user.role === 'participant' && user.is_seed !==null">
    [ <a href="#">Invitations</a>]&nbsp; [<a href="#">Statistics</a>]&nbsp; [<a href="#">Profile</a>]&nbsp;
    <hr />
    No pending invitations
    <div *ngIf="!user.friends.length" class="alert-error">
      <!-- <h2>You haven't invited any friends yet! Please do so when ready.</h2> -->
      <button class="animate-flicker" [routerLinkActive]="['is-active-button,animate-stop']" mat-raised-button
        color="primary" [routerLink]="'/dashboard/friends'">Friends</button>
    </div>
    <div *ngIf="user.friends.length">
      <h3>Great - you've invited friends.</h3> Once they've confirmed their accounts and verified PayPal you'll be
      eligible to
      begin
      <button [routerLinkActive]="['is-active-button,animate-stop']" class="animate-flicker mat-raised-button"
        color="primary" [routerLink]="'/dashboard/friends'">Friends</button>
    </div>

  </div>
  <div *ngIf="user&&  user.is_seed ===null">

    [ <a href="#">Invitations</a>]&nbsp; [<a href="#">Statistics</a>]&nbsp; [<a href="#">Profile</a>]&nbsp;
    <hr />
    No pending invitations<br>
    <h3>Thanks for accepting the invitation! Please verify your Paypal address when ready</h3>
    <button color="primary" [routerLink]="'/dashboard/paypal'" mat-stroked-button>
      Click to configure PayPal
    </button>
  </div>

  <div *ngIf="user && user.role === 'administrator'">
    <hr />
    <button color="primary" [routerLink]="'/dashboard/settings'" mat-stroked-button>
      Click to view settings
    </button>
  </div>
  <div *ngIf="user && user.role === 'researcher'">
    <hr />
    <button [routerLink]="'/dashboard/projects'" mat-stroked-button>
      View Projects
    </button>
    <button [routerLink]="'/dashboard/projects/create'" mat-stroked-button>
      Create Project
    </button>
  </div>
</mat-card>
<router-outlet></router-outlet>