.mat-column-select {
  overflow: initial;
}
table {
  // width: 100%;
}

.participants {
  border: 1px solid grey;
  width: 45%;
  float: left;
}
.participantsAll {
}

.participantsSelected {
  // width: 50%;
}
