.mat-column-select {
  overflow: initial;
}
table {
  // width: 100%;
}

.participants {
  border: 1px solid grey;
}
.participantsAll {
  width: 69%;
  float: left;
}

.participantsSelected {
  width: 24%;
}
