<mat-card>
    <mat-card-title>
        <h1>Selection table</h1>
    </mat-card-title>
    {{dataSource.data.length}} records
    <hr>
    <p>Participants will only be visible with safeid during production; Demographics will be visible via columns,
        sorting and filtering for participants</p>
    <button mat-stroked-button>
        Preview Selection
    </button>
    <!-- //demographic info;# per etc  -->
    <!-- a) click to show only participants etc . -> will reveal needed columns w/ demos  -->

</mat-card>
<table matSort matSortDirection="asc" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- <ng-container *ngFor="let col of participantColumns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[col] }} </td>
    </ng-container> -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
    <ng-container matColumnDef="family_name">
        <th mat-header-cell *matHeaderCellDef> Family name </th>
        <td mat-cell *matCellDef="let element"> {{element.family_name}} </td>
    </ng-container>
    <ng-container matColumnDef="birthyear">
        <th mat-header-cell *matHeaderCellDef> Birth Year</th>
        <td mat-cell *matCellDef="let element"> {{element.birthyear}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="qualification_parents">
        <th mat-header-cell *matHeaderCellDef> Parent?</th>
        <td mat-cell *matCellDef="let element"> {{element.qualification_parents}} </td>
    </ng-container>
    <ng-container matColumnDef="qualification_friends">
        <th mat-header-cell *matHeaderCellDef> Friends?</th>
        <td mat-cell *matCellDef="let element"> {{element.qualification_friends}} </td>
    </ng-container> -->
    <ng-container matColumnDef="qualification_gm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GM score</th>
        <td mat-cell *matCellDef="let element"> {{element.qualification_gm}} </td>
    </ng-container>
    <ng-container matColumnDef="qualification_vac">
        <th mat-header-cell *matHeaderCellDef> Vaccination score</th>
        <td mat-cell *matCellDef="let element"> {{element.qualification_vac}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="qualification_us">
        <th mat-header-cell *matHeaderCellDef> In US?</th>
        <td mat-cell *matCellDef="let element"> {{element.qualification_us}} </td>
    </ng-container> -->

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> created</th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | date:'short'}} </td>
    </ng-container>
    <ng-container matColumnDef="last_login">
        <th mat-header-cell *matHeaderCellDef> last login</th>
        <td mat-cell *matCellDef="let element"> {{element.last_login | date:'short'}} </td>
    </ng-container>
    <ng-container matColumnDef="last_update">
        <th mat-header-cell *matHeaderCellDef> last update</th>
        <td mat-cell *matCellDef="let element"> {{element.last_update | date:'short'}} </td>
    </ng-container>
    <ng-container matColumnDef="banned">
        <th mat-header-cell *matHeaderCellDef> banned</th>
        <td mat-cell *matCellDef="let element"> {{element.banned }} </td>
    </ng-container>
    <ng-container matColumnDef="banned_reason">
        <th mat-header-cell *matHeaderCellDef> banned_reason</th>
        <td mat-cell *matCellDef="let element"> {{element.banned_reason }} </td>
    </ng-container>
    <ng-container matColumnDef="banned_date">
        <th mat-header-cell *matHeaderCellDef> banned_date</th>
        <td mat-cell *matCellDef="let element"> {{element.banned_date }} </td>
    </ng-container>
    <ng-container matColumnDef="activated">
        <th mat-header-cell *matHeaderCellDef> activated</th>
        <td mat-cell *matCellDef="let element"> {{element.activated }} </td>
    </ng-container>
    <ng-container matColumnDef="registration_key">
        <th mat-header-cell *matHeaderCellDef> registration_key</th>
        <td mat-cell *matCellDef="let element"> {{element.registration_key }} </td>
    </ng-container> -->


    <tr mat-header-row *matHeaderRowDef="participantColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: participantColumns;" (click)="selection.toggle(row)">
    </tr>
</table>