:root {
  --blue: #00b; // or any global you wish to share with components
}

$sfgray: #636051;
$sfblue: #005d77;
$sfblue2: #008e94;
$sfwhite: #cccec8;
$darkgray: #a9a9a9;
$sfblack: #322b29;
$sfgreen: #51661a;
