<div class="centerheader">
  <div>
    <h1>Welcome to MySurveys!</h1>
    <!-- <h2>This platform allows friends to </h2> -->
    <h1>Please log in below.</h1>
    <h2>
      If you need to create an account, please click 
      <br /><a [routerLink]="'/questionnaire'">here</a>
    </h2>
    <app-login></app-login>
    <!-- <mat-card *ngIf="showGdpr" style="font-size: 15px; margin-top: 22px">
      <p>
        This website uses cookies and collects your data so we can select
        participants for study surveys, contact participants about studies and
        analyze the anonymized results of the studies in research.
      </p>

      <p>
        You can find out more about our privacy policy by clicking
        <a [routerLink]="'/privacy'" target="_BLANK">here</a> . Before participating, you must
        understand and agree to our full privacy terms.
      </p>

      <button style="margin: 5px 0 10px; background: green; color: white" (click)="acknowledgeGDPR()" mat-stroked-button
        color="primary">
        Accept
      </button>
      <p>
        If you object, please <a href="https://google.com">click here</a> to
        leave the site.
      </p>
    </mat-card> -->
  </div>
</div>
