<mat-card *ngIf="!codeConfirmed">
    Checking verification code
</mat-card>
<mat-card *ngIf="codeConfirmed !== false" style="text-align: center;" color="primary">
    <mat-icon style="color: green; font-size: 44px; vertical-align: initial;">check_circle_outline</mat-icon>
    <h2>
        Verification code confirmed, your account has been created and you are now
        logged in. You can reset ** your password below or <a href="#">here</a>
    </h2>
    <!-- <app-set-password></app-set-password> -->
    <!-- <p>
      You may now log in.
      <a [routerLink]="'/login/' + userEmail">Login</a>
    </p> -->
</mat-card>
<mat-card *ngIf="codeFailed">
    <div [hidden]="!errors.length" style="color: #c80000; font-weight: bold;">
        <div class="tip">
            <div *ngFor="let error of errors">{{ error }}</div>
            &nbsp;
        </div>
    </div>
</mat-card>