<mat-tab-group dynamicHeight>
  <mat-tab label="Settings">
    <div class="example-large-box mat-elevation-z4 settings-table">
      <h3>Settings information</h3>
      <!-- Large content
            {{settings | json}} -->
      <table class="blueTable">
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let item of settings | keyvalue">
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Invite Researcher">
    <div class="example-small-box mat-elevation-z4">
      <app-invite></app-invite>
    </div>
  </mat-tab>
  <mat-tab label="Add Quotas">
    <div class="example-small-box mat-elevation-z4">
      <mat-card>
        <h3>Select the project and quota</h3>

        <table class="blueTable">
          <tr>
            <th>Project id</th>
            <th>Project name</th>
            <th>Quota</th>
          </tr>
          <tbody *ngIf="projects">
            <tr *ngFor="let p of projects">
              <td>{{ p.id }}</td>
              <td>{{ p.project_title }}</td>
              <td>
                <input #quota matInput [value]="p.quota" [id]="p.id" type="number" />
              </td>
              <td>
                <button type="submit" (click)="update(p, quota.value)">
                  Save
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
      <mat-tab label="Backup">
        <div class="example-large-box mat-elevation-z4 settings-table">
          <h3>Backup</h3>
          <button (click)="backup()">Backup DB</button>
        </div>
      </mat-tab>
    </div>
  </mat-tab>
  <mat-tab label="Export data">
    <mat-card>
      <mat-card-title>Project data </mat-card-title>
      <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let p of projects" label="Project Data: {{ p.project_title }}">
          <app-data [project_id]="p.id"></app-data>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-tab>
</mat-tab-group>